.divBackground{
    background-color:darkslategray; 
    margin:auto;
    width: 100%;
    overflow: auto;
}

.divForeground{
    background-color: white;
    height: auto;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
   
}

.description{
    font-size: 100%;
    text-align: left;
    width: 100%;
    margin: auto;
}



.divContainer, .divContact{
    background-color: white;
    width: 80%;
    margin: auto;
    
}

.divContact2{
    background-color: white;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 100%;
    padding-bottom: 10%;
}

.divContact2 address, .divContact2 h1 {
    margin-left: 10%;
}

.divContainer2 {
    position: absolute;
    background-color: slategray;
    width: 100%;
    left: 10%;
    top: 0%;
}
.divContact{
    padding-top: 10%;
    padding-bottom: 5%;
}

.ulNavBar{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
    list-style-type: none;
    background-color: slategray;
    overflow: hidden;
    z-index: 1;
    height: 10%;
}

.liNavBar{

    float: left;
    background-color: slategray;
}

.liNavBar a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    left: 10%;
    padding: 7px;
    top: 50%;
}

.liNavBar a:hover{
    background-color: black;
    color: white;
}

.img{
    max-width: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> ed919d80fc29db4656537d6311118c9a4f64126d
