.divBackground{
    background-color:darkslategray; 
    margin:auto;
    width: 100%;
    overflow: auto;
}

.divForeground{
    background-color: white;
    height: 150%;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
   
}

.description{
    font-size: 100%;
    text-align: left;
    width: 80%;
    margin: auto;
}

.img {
    width: 100%;
}

.divContainer, .divContact, .divContact2{
    background-color: white;
    width: 80%;
    margin: auto;
    
}

.divContact, .divContact2{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.divContact2{
    position: absolute;
    top: 500px;
    width: 100%;
}

.divContact address, .divContact h1, .divContact2 address, .divContact2 h1 {
    margin-left: 10%;
}

.ulNavBar{
    list-style-type: none;
    background-color: slategray;
    width: 80%;
    margin-left: 10%;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    height: 10%;
}

.liNavBar{
    float: left;
    background-color: slategray;
}

.liNavBar a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.liNavBar a:hover{
    background-color: black;
    color: white;
}
