

/*Link Formatting*/
.divReturnTop, .divReturnSubLayer, .divLink{
    position: absolute;
    left: 10;
    top: -20;
    width: 300;
    height: 200;
    text-align: center;
}

.divReturnSubLayer{
top: 50;
}


.divTopLevel{
    background-image: url('Images/Top Level.jpg');
    width: 7000;
    height: 3000;
    background-repeat: no-repeat;
    zoom: 30%;
}

.divClock{
    background-image: url('Images/Clock Select.jpg');
    width: 2000px;
    height: 1000px;
    background-repeat: no-repeat;
}

.divStateMachine{
    background-image: url('Images/State Machine.jpg');
    width: 1300px;
    height: 600px;
    background-repeat: no-repeat;
}

.divControlUnit{
    background-image: url('Images/Control Unit.jpg');
    width: 1400px;
    height: 600px;
    background-repeat: no-repeat;
}

.divBranchLogic{
    background-image: url('Images/Branch Logic.jpg');
    width: 1300px;
    height: 500px;
    background-repeat: no-repeat;
}

.divLoadSelect{
    background-image: url('Images/Load Select.jpg');
    width: 1300px;
    height: 700px;
    background-repeat: no-repeat;
}

.divALU{
    background-image: url('Images/ALU Top Level.jpg');
    width: 2300px;
    height: 2600px;
    background-repeat: no-repeat;
}

.divALUControl{
    background-image:  url('Images/ALU Control Unit.jpg');
    width: 900;
    height: 500;
    background-repeat: no-repeat;
}

.divCarryLogic{
    background-image: url('Images/Carry Logic.jpg');
    width: 1300;
    height: 600;
    background-repeat: no-repeat;
}

.div821Mux{
    background-image: url('Images/Mux 2 1 8x.jpg');
    width: 600;
    height: 1100;
    background-repeat: no-repeat;
}

.div8Adder{
    background-image: url('Images/Ripple Adder 8 Bit.jpg');
    width: 1100;
    height: 1200;
    background-repeat: no-repeat;
}

.divLogicSwap{
    background-image: url('Images/Logic Swap Block.jpg');
    width: 1100;
    height: 500;
    background-repeat: no-repeat;
}

.divZLogic{
    background-image: url('Images/Z Logic.jpg');
    width: 1300;
    height: 600;
    background-repeat: no-repeat;
}

.divAddEn{
    background-image: url('Images/Add Enable.jpg');
    width: 700;
    height: 200;
    background-repeat: no-repeat;
}

.divLogicEn{
    background-image: url('Images/Logic Enable.jpg');
    width: 900;
    height: 400;
    background-repeat: no-repeat;
}

.divSwapEn{
    background-image: url('Images/Swap Enable.jpg');
    width: 700;
    height: 200;
    background-repeat: no-repeat;
}

.divExternal{
    background-image: url('Images/External Carry.jpg');
    width:800;
    height: 200;
    background-repeat: no-repeat;
}

.div41Mux{
    background-image: url('Images/MUX 4 1.jpg');
    width: 1000;
    height: 400;
    background-repeat: no-repeat;
}

.divFullAdder{
    background-image: url('Images/Full Adder.jpg');
    width: 900;
    height: 300;
    background-repeat: no-repeat;
}

.div21Mux{
    background-image: url('Images/Mux 2 1.jpg');
    width: 700;
    height: 300;
    background-repeat: no-repeat;
}

.divDataLoad{
    background-image: url('Images/Data Load Mux.jpg');
    width: 1100;
    height: 1700;
    background-repeat: no-repeat;
}

.divRegisterFile{
    background-image: url('Images/Register File.jpg');
    width: 9000;
    height: 12000;
    background-repeat: no-repeat;
}

.div8Register{
    background-image: url('Images/Register 8 Bit.jpg');
    width: 1100;
    height: 1200;
    background-repeat: no-repeat;
}

.divSelfLoop{
    background-image: url('Images/Self Loop.jpg');
    width: 700;
    height: 300;
    background-repeat: no-repeat;
}

.div532Decoder{
    background-image: url('Images/Decoder 5 32.jpg');
    width: 1100;
    height: 800;
    background-repeat: no-repeat;

}

.div416Decoder{
    background-image: url('Images/Decoder 4 16.jpg');
    width: 1000;
    height: 600;
    background-repeat: no-repeat;
}

.div38Decoder{
    background-Image: url('Images/Decoder 3 8.jpg');
    width: 700;
    height: 500;
    background-repeat: no-repeat;
}

.div321Mux{
    background-image: url('Images/MUX 32 1.jpg');
    width: 1400;
    height: 900;
    background-repeat: no-repeat;
}

.div161Mux{
    background-Image: url('Images/Mux 16 1.jpg');
    width: 1300;
    height: 700;
    background-repeat: no-repeat;
}

.div81Mux{
    background-image: url('Images/Mux 8 1.jpg');
    width: 1100;
    height: 1400;
    background-repeat: no-repeat;
}

.divInstructionRegister{
    background-image: url('Images/Instruction Register.jpg');
    width: 1300;
    height: 1300;
    background-repeat: no-repeat;
}

.div1Register{
    background-image: url('Images/Register 1 Bit.jpg');
    width: 1200;
    height: 400;
    background-repeat: no-repeat;
}

.div7Seg{
    background-image: url('Images/7 Segment Display x2.jpg');
    width: 600;
    height: 400;
    background-repeat: no-repeat;
}

.div7SegDecoder{
    background-image: url('Images/7 Segment Display.jpg');
    width: 800;
    height: 800;
    background-repeat: no-repeat;
}

.divALogic{
    background-image: url('Images/Segment A.jpg');
    width: 900;
    height: 400;
    background-repeat: no-repeat;
}

.divBLogic{
    background-image: url('Images/Segment B.jpg');
    width: 900;
    height: 400;
    background-repeat: no-repeat;
}

.divCLogic{
    background-image: url('Images/Segment C.jpg');
    width: 700;
    height: 300;
    background-repeat: no-repeat;
}

.divDLogic{
    background-image: url('Images/Segment D.jpg');
    width: 800;
    height: 400;
    background-repeat: no-repeat;
}

.divELogic{
    background-image: url('Images/Segment E.jpg');
    width: 700;
    height: 300;
    background-repeat: no-repeat;
}

.divFLogic{
    background-image: url('Images/Segment F.jpg');
    width: 800;
    height: 300;
    background-repeat: no-repeat;
}

.divGLogic{
    background-image: url('Images/Segment G.jpg');
    width: 800;
    height: 300;
    background-repeat: no-repeat;
}

.divPCALU{
    background-image: url('Images/PC ALU.jpg');
    width: 1900;
    height: 1000;
    background-repeat: no-repeat;
}

.divJumpSelect{
    background-image: url('Images/Jump Select.jpg');
    width:900;
    height: 1800;
    background-repeat: no-repeat;
}

.div16Adder{
    background-image: url('Images/Ripple Adder 16 Bit.jpg');
    width: 800;
    height: 800;
    background-repeat: no-repeat;
}

.divPC{
    background-image: url('Images/PC Register.jpg');
    width: 1300;
    height: 1300;
    background-repeat: no-repeat; 
}